.pb-30 {
    padding-bottom: 30px;
}

.pt-30 {
    padding-top: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.ortala {
    width: 400px;
    margin: 0 auto;
}

.mg-100 {
    margin-top: 100px;
}

.baslik {
    text-align: center;
}
.butonn
{
    margin-top:30px;
}