@model HaberSitesi.Models.Haber

@{
	Layout = null;
	ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/bootstrap.5.0.2.min.css" />
<link rel="stylesheet" href="~/css/adminPanel.css" />




<form asp-action="Delete">
	<input type="submit" value="Delete" class="btn btn-danger" />
</form>